/* General styles */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: black; /* Set the background color to black */
  color: white; /* Set the text color to white for better contrast */
}

.header {
  position: relative;
  width: 100%;
  height: 80vh;
  overflow: hidden;
}

.header-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.header-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Optional: Add an overlay for better text visibility */
}

.header-title {
  position: absolute;
  color: white;
  z-index: 1;
  width: 100%;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

/* Card styles */
.card {
  background-color: #444;
  border-radius: 10px;
  overflow: hidden;
  margin: 10px;
  width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.05);
}

.top-container {
  height: 200px;
  background-size: cover;
  background-position: center;
}

.bottom-container {
  padding: 20px;
}

.bottom-container h3 {
  margin: 0;
  font-size: 1.5em;
}

.bottom-container p {
  margin: 10px 0;
}

.bottom-container a {
  display: inline-block;
  margin-top: 10px;
  color: #1e90ff;
  text-decoration: none;
}

.bottom-container a:hover {
  text-decoration: underline;
}

/* Servant details styles */
.servant-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.servant-image {
  width: 250px;
  border-radius: 10px;
  margin-bottom: 20px;
  border: silver 2px solid;
}

.servant-info {
  text-align: center;
}

.servant-info h2 {
  font-size: 2em;
  margin-bottom: 10px;
}

.servant-info p {
  font-size: 1.2em;
  margin: 5px 0;
}

.attributes-table {
  width: 100%;
  max-width: 600px;
  margin: 20px 0;
  border-collapse: collapse;
}

.attributes-table th, .attributes-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.attributes-table th {
  background-color: #333;
  color: white;
}

.attributes-table td {
  background-color: #444;
}